.bag__products {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: auto;  
  overflow: auto;
}

.bag__product {
  border: 0.5px solid #99ecdd;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1px 5px;
  width: 100%;
  height: 23vh;
  border-radius: 5px;
}

.bag__product:not(:first-child) {
  margin-top: 5px;
}

.bag__product--remove { 
  justify-content: center;   
  font-weight: bold;
  font-size: 13px;
  color: red;  
  height: 15%;
}

.bag__footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;	
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 8%;
}

.bag__footer--subtotal {
  color: white;
}