.bag__footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;	
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 8%;
}

.bag__footer--subtotal {
  color: white;
}

.bag__products {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: auto;  
  overflow: auto;
}

.bag__product {
  /*border: 1px solid lightgray;*/
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1px 5px;
  width: 100%;
  height: 23vh;
  border-radius: 5px;
}

.bag__product:not(:first-child) {
  margin-top: 5px;
}

.bag__product--remove { 
  justify-content: center;   
  font-weight: bold;
  font-size: 13px;
  color: red;  
  height: 15%;
}

.bag__product--figure {
  width: 16vw;
  height: 100%;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.bag__product--img {
  margin: 1px;
  width: 100%;
  height: 85%;
  left: 0;
  top: 0;
  bottom: 0;
}

.bag__product--info {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.bag__product--info-name {
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Girassol", cursive;
}

.bag__product--info-size {
  margin: 2px;
  font-weight: bold;
  font-size: 15px;
  color: cadetblue;
  font-family: 'Inconsolata', monospace;
}

.bag__product--info-quantity {
  margin: 5px 2px 0 2px;
  font-family: 'Inconsolata', monospace;
}

.bag__product--price {
  margin: 0 5px;  
}

.bag__product--price-final {
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

.bag__product--price-installments {
  margin: 2px;
  font-weight: bold;
  font-size: 15px;
  color: cadetblue;
  font-family: 'Inconsolata', monospace;
}

.bag__product--group-info {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bag__product--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bag__product--alter-quantity {
  background: transparent;
  color: black;
  border: .1rem solid #dfdfdf;  
  border-radius: 4px;
  height: 25px;  
}

.bag__product--alter-quantity:first-child {
  margin-right: 8px;
}

.bag__product--alter-quantity:last-child {
  margin-left: 8px;
}